@model TeacherVm
@{
    ViewData["Title"] = "Our Teacher";
}

<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Teachers)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-teacher mb-45">
                        <div class="single-teacher-img">
                            <a href="teacher-details.html"><img src="img/slider/@item.Image" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a asp-controller="teacher" asp-action="detail" asp-route-id="@item.Id">@item.Name</a></h2>
                            <h4>@item.Profession</h4>
                            <ul>
                                @foreach (var social in item.SocialToTeachers)
                                {
                                    <li><a target="_blank" href="@social.Link">@Html.Raw(social.Social.Icon)</a></li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Teacher End -->
