@model List<Teacher>
@{
    ViewData["Title"] = "OUR TEACHERS";
}

<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-teacher mb-45">
                        <div class="single-teacher-img">
                            <a href="teacher-details.html"><img src="img/teacher/@item.Image" alt="teacher"></a>
                        </div>
                        <div class="single-teacher-content text-center">
                            <h2><a asp-controller="teacher" asp-action="detail" asp-route-id="@item.Id">@item.Fullname</a></h2>
                            <h4>@item.Position.Name</h4>
                            <ul>
                                <li><a target="_blank" href="@item.Social.FacebookLink"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a target="_blank" href="@item.Social.PinterestLink"><i class="zmdi zmdi-pinterest"></i></a></li>
                                <li><a target="_blank" href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                <li><a target="_blank" href="@item.Social.TwitterLink"><i class="zmdi zmdi-twitter"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Teacher End -->
