@model List<Event>
@{
    ViewData["Title"] = "Event";
}

<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a href="event-details.html">
                                <img src="~/img/slider/@item.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@item.StartTime.ToString("dd") <span>@item.StartTime.ToString("MMMM")</span></h3>
                            </div>
                        </div>
                        <div class="event-content text-start">
                            <h4><a href="event-details.html">@item.Title</a></h4>
                            <ul>
                                <li><span>time:</span> @item.StartTime.ToString("t")-@item.EndTime.ToString("t") </li>
                                <li><span>venue</span> @item.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail" asp-route-id="@item.Id">join now</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
