@model HomeVm

@{
    ViewData["Title"] = "Home Page";
}

<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var slider in Model.Sliders)
        {
            <div class="single-slide item" style="background-image: url(img/slider/@slider.BackgroundImage)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h3>@slider.Title </h3>
                                        <h2>PROPER HUMANITY </h2>
                                        <p>@Html.Raw(slider.Description)</p>
                                        <a class="default-btn" href="~/about.html">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }

    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="notice-left">
                    <h3>notice board</h3>
                    @foreach (var item in Model.Notices)
                    {
                        <div style="margin-bottom:30px; padding-bottom:30px;" class="single-notice-left ">
                            <h4>@item.Time.ToString("d MMMM ,yyyy")</h4>
                            <p>@Html.Raw(item.Description) </p>
                        </div>
                    }


                </div>
            </div>
            <div class="col-md-6">
                <div class="notice-right">
                    @foreach (var notice in Model.Notices.Take(3))
                    {
                        <div class="single-notice-right mb-25 pb-25">
                            <h3>@notice.Title</h3>
                            <p>@Html.Raw(notice.Description) </p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4">
                <div class="choose-content text-start">
                    <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                    <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                    <a class="default-btn" href="~/course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Course");
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @foreach (var item in Model.Events)
                {
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-controller="event" asp-action="detail">@item.StartTime.ToString("dd") <span>@item.StartTime.ToString("MMMM")</span></a></h3>
                        </div>
                        <div class="event-content text-start">
                            <div class="event-content-left">
                                <h4><a asp-controller="event" asp-action="detail">@item.Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@item.StartTime.ToString("t") -@item.EndTime.ToString("t") </li>
                                    <li><i class="fa fa-map-marker"></i>@item.Venue</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail">join now</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                @foreach (var item in Model.Events)
                {
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3><a asp-controller="event" asp-action="detail">@item.StartTime.ToString("dd") <span>@item.StartTime.ToString("MMMM")</span></a></h3>
                        </div>
                        <div class="event-content text-start">
                            <div class="event-content-left">
                                <h4><a asp-controller="event" asp-action="detail">@item.Title</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@item.StartTime.ToString("t") -@item.EndTime.ToString("t") </li>
                                    <li><i class="fa fa-map-marker"></i>@item.Venue</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" asp-controller="event" asp-action="detail">join now</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("TestimonialSlider");
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Blog");
        </div>
    </div>
</div>
<!-- Blog Area End -->
