@model Course
@{
    ViewData["Title"] = "Detail";
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">@Model.Title</h4>

                        <p>
                            Desc:
                            @Html.Raw(Model.Description)
                        </p>
                       
                        <p>
                            MainImage:
                            <img style="width: 300px;" src="~/assets/images/@Model.Image" />
                        </p>
                       

                        @if (Model.Comments != null)
                        {
                            @foreach (var comment in Model.Comments)
                            {
                                <div class="col-12 d-flex pb-2">
                                    <div class="personImg">
                                        <img src="~/assets/images/productPerson1.png" alt="" />
                                    </div>
                                    <div class="personBody mx-3">
                                        <div class="person-name d-flex my-4">
                                            <p>@comment.User.FulName</p>
                                            <p class="mx-2">@comment.CreatedAt.ToString("dd.MM.yyyy")</p>
                                        </div>
                                        <div class="person-description my-3">
                                            <p style="font-family: Lora, serif">
                                                @comment.Description
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>